<h1>Show Tweet</h1>

<ul>

  <li>
    <strong>Retweet count:</strong>
    <%= @tweet.retweet_count %>
  </li>

  <li>
    <strong>Created at:</strong>
    <%= @tweet.created_at %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @tweet.name %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @tweet.text %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.tweet_path(@conn, :edit, @tweet) %></span>
<span><%= link "Back", to: Routes.tweet_path(@conn, :index) %></span>
